@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #09090b;
    color: #fafafa;
    font-family: var(--font-inter);
  }

  ::selection {
    background-color: #064e3b;
    color: #10b981;
  }
}

@layer utilities {
  .section-padding {
    @apply px-6 md:px-12 lg:px-20 xl:px-28;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}
